<h2>Add New Message</h2>
<form action="/new" method="post">
	<label for="">
		Name:
		<input type="text" name="name" />
	</label>
	<label for="">
		Message:
		<input type="text" name="message" />
	</label>
	<button type="submit">Submit</button>
	<a href="/">
		<button>Back</button>
	</a>
</form>
