<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Message</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<%- include('header', {title: 'Add New Message', path:'/', button:'Back'})
	%>
	<body>
		<form action="/new" method="post">
			<input
				type="text"
				class="form-input"
				name="name"
				placeholder="Name"
			/>
			<input
				type="text"
				class="form-input"
				name="message"
				placeholder="Message"
			/>
			<input type="submit" value="Submit Message" />
		</form>
	</body>
	<%- include('footer') %>
</html>
